@import '../../styles/common.css';

.vocabulary-inputs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 12px;
  width: 100%;
}

.vocabulary-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

